<h1>Projects</h1>
<div class="row">
  <div class="col-8 mx-auto">
    <table class="table">
      <thead>
      <th>ID</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>City</th>
      <th>Country</th>
      <th>Phone</th>
      </thead>
      <tbody>
        <tr *ngFor="let project of projects">
          <td>{{project.id}}</td>
          <td>{{project.firstName}}</td>
          <td>{{project.lastName}}</td>
          <td>{{project.city}}</td>
          <td>{{project.country}}</td>
          <td>{{project.phone}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
